.customRankingsContainer{
    background-color:#D9D9D9  ;
    height:180vh;
}

.titleContainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    
}

.titleText{
    font-family: "Montserrat";
    font-size: 35px;
}

.teamFolderContainer{
    margin:5px;
    margin-top: 60px;
    width: 702px;
    background-color: #161123;
    height: 105vh;
    
    margin-left:80px;
    
}
.teamFolder{
    background-color: #161123;
    height: 50px;
    margin-left: 100px;
}