.customRankingsContainer{
    background-color:#D9D9D9  ;
    height:auto;
    
}
.mainViewContainer{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.titleContainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 50px;
}

.customTeamTitle{
    font-family: "Bebas Neue";
    font-size: 50px;
}


.teamFolderWindowContainer{
    overflow: scroll;
    overflow-x: hidden;
    height: 72vh;
    width: 79vh;

    /* This will change the width of the scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* This will change the background color of the scrollbar */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* This will change the color of the scroll thumb */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* This will change the color of the scroll thumb on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.leaguesFolderContainer{
   
    margin-top: 10px;
    width: 700px;
    margin-left: 10px;
    background-color: #161123;
    height: 80px;
   
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
.folder:hover{
    cursor: pointer;
    transform:scale(1.02);
}

.teamFolder{
    background-color: #161123;
    height: 50px;
    margin-left: 100px;
   
}
.leagueLogo{
    width:45px;
    height: 45px;
    padding:5px;
    margin: 20px;
    margin-left: 20px;
}
.teamName{
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
}

.expandedContent{
    height: 200px;
    background-color: #161123;
    width: 660px;
    margin-top: -20px;
    padding:20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: 10px;
}


.orderContainer{
    height: 72vh;
    width: 90vh;
    margin-left: 90px;
    background-color: #161123;
    padding-top:15px;
    
}

.orderButton{
    width: 130px;
    height: 32px;
    background-color: #D9D9D9;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 12px;
   
}
.orderButton:hover{
    cursor: pointer;
    
}
.dropDownLocation{
    margin-left: 470px;
  
}

.orderHeader{
    width: 90vh;
    height:5vh;
    display: flex;
    justify-content: center;
    border-bottom:solid 1px #262a2e;
}

.orderMainContainer{
    margin-top: 20px;
    width: 90vh;
    height:62vh;
    background-color: #161123;
    border-radius: 20px;
    /* overflow: scroll;
    overflow-x: hidden; */
     /* This will change the width of the scrollbar */
    &::-webkit-scrollbar {
        width: 10px;
    }

    /* This will change the background color of the scrollbar */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* This will change the color of the scroll thumb */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* This will change the color of the scroll thumb on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

.folderTeamName{
    color: white;
    font-family: "Montserrat";
    font-size: 19px;
}  
.folderTeamName:hover{
    font-size: 25px;
}




