.homeContainer{
    background-color:#D9D9D9 ;
    height:100vh;
    
}
.titleContainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 45px;
   
    
}

.titleText{
    font-family: "Bebas Neue";
    font-size: 80px;
}
.featureContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    gap:40px;
    padding-bottom: 100px;
}

.selection{
    width: 410px;
    height: 270px;
    background-color: #161123;
    border-radius: 20px; 

}

.selection:hover{
    cursor: pointer;
}

.leaguesImage, .worldsImage, .takeoverImage{
    width:410px;
    height:190px;
    border-radius: 20px;
}

.featureText{
    color: #fff;
    font-family: "Montserrat";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
}
