
.titlePageContainer{
    width: 100%;
    height:100vh;
    overflow: hidden; 
    position: relative;
}

.videoContainer2{
    filter: brightness(55%); 
    width: 130;  
    position: absolute;
    z-index: -1;
    margin-top: -140px;
}

.videoContainer{
    filter: brightness(55%); 
    width:100%;

}

.mainTitleContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
}

.mainTitle{
    color: #FFF3F3;
    font-family: "Bebas Neue";
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.subTitleContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.subTitle{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
   
    
}

.buttonContainer{
    width:390px;
    height:70px;
    background-color: #D9D9D9;
    position: absolute;
    z-index: 1;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
   
    
}
.buttonContainer:hover{
    cursor: pointer;
}

.buttonText{
    color: #000;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}