.tournamentStandingContainer{
    background-color:#D9D9D9 ;
    height:auto;
    
}
.standingsMain{
    display: flex;
    
    justify-content: center;
}
.leftSide{
    display: flex;
    flex-direction: column;
    width: 40vh;
    margin-top: 50px;
    
}

.textFont{
    color: white;
    font-family: "Montserrat";
}


.tournamentRegionCard{
    width: 300px;
    height: 350px;
    background-color: #161123;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    flex-direction: column;
    color: white;
    font-family: "Montserrat";
    margin-left: -30px;
    
}
.regionIcon{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.centerText{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tournamentTitle{
    font-size: 15px;
    margin-bottom: 10px;
}
.regionTitle{
    color: #9E9797;
    font-size: 13px;
    margin-bottom: 15px;
}
.returnButtonContainer{
    width: 200px;
    height:50px;
    background-color: #161123;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    margin-left: 22px;
    
    
}
.returnButtonContainer:hover{
    cursor: pointer;
    transform:scale(1.15);
}

.yearContainer{
    font-size: 25px;
}
.arrow{
    margin-left:20px;
    margin-right:20px;
}
.arrow:hover{
    cursor: pointer;
    transform:scale(1.45);
}

.standingsContainer{
    width: 140vh;
    height:80vh;
    background-color: #161123;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
}

.standingsHeader{
    width: auto;
    height: 55px;
    
    border-bottom:solid 1px #262a2e;
    display: flex;
    margin-bottom: 30px;
    
}


.splitContainer{
    font-size: 15px;
}

.leftSideWindow{
    width: 140vh;
    height:auto;
    border-right: solid 1px;
    color:#262a2e;
}

.rightSideWindow{
    width: 150vh;
    height:auto;
   
}
.standingsWindow{
    display: flex;
    margin-top: 20px;
    /* justify-content: center;
    align-items: center;  */
    height:73vh;
  
}
.centerLoader{
    display: flex;
    justify-content: center;
    align-items: center; 

}

.leftSideStandingsHeader{
    width: 48vh;
}
.centerLoader{
   margin-left: -170px;
   display: flex;
   flex-direction: column;
}

.dropdownExpandedContainer{
    position: absolute;
    top:170px;
 
}
.dropDownExpandedBox{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 170px;
    height:30px;
    background-color: white; 
    font-family: "Montserrat";
    font-size: 12px;
    border-bottom: #262a2e 1px solid;
}
.dropdownContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
  
}
.dropdownContainer:hover{
    cursor: pointer;
}
.dropdownBox{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 170px;
    height:30px;
    background-color: white; 
    font-family: "Montserrat";
    font-size: 12px;
    border-radius: 5px;
}