.tournamentRankPage{
    background-color:#D9D9D9  ;
    min-height: 100vh;
    
    /* change to auto later */
}
.header{
    display: flex;
    
}
.returnToMain{
    width: 70vh;
    display: flex;
}
.returnButton{
    width: 200px;
    height:50px;
    background-color: #161123;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    margin-left: 22px;
}
.returnButton:hover{
    cursor: pointer;
    transform:scale(1.15);
}
.headerTitleContainer{
    display: flex;
    font-family: "Bebas Neue";
    align-items: center; 
    justify-content: center;
    margin-bottom: 50px;
    font-size: 55px;
    margin: 60px;
 
}
.regionContainer{
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}
.regionCard:hover{
    cursor: pointer;
    transform:scale(1.05);
}

.regionCard{
    width: 370px;
    margin:10px;
    margin-bottom: 20px;
    height: 220px;
    background-color: #161123;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:10px;
}

.tournamentName{
    color: white;
    font-family: "Montserrat";
    font-size: 14px;
}
.regionCardIcons{
    width:150px;
    margin-bottom: 15px;
}

.yearContainer{
    padding:20px;
}
.space{
    padding:13vh;
}