.standingsText{
    margin:30px;
    margin-right: 50px;
}

.standingsRow{
    height:40px;
    margin-left: 40px;
    margin-bottom: 25px;
    padding-bottom: 3px;
    display: flex;
    width: 57vh;
    border-bottom:solid 1px #262a2e;
    border-style: solid;
    
}
.standingsFontSize{
    font-size: 20px;
    margin-right: 20px;
  
}
.teamContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}
.teamFontSize{
    font-size:13px;
}
.winrateFontSize{
    font-size: 13px;
    color: #414952;
}
.teamFormatted{
    display: flex;
    flex-direction: column;
}

/* .teamLogo{
    width: 30px;
    height:30px;
    border-radius: 40px;
    background-color: #d9d9d9;
} */